<template>
  <div>
    <ChartWeather/>
  </div>
</template>

<script>
import ChartWeather from '@/components/ChartWeather.vue';

export default {
  name: 'HistoryWeather',
  components: {
    ChartWeather,
  },

};
</script>

<style>

</style>
