<template>
  <div>
    <div v-if="loader">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <canvas ref="myChart"></canvas>
  </div>
</template>

<script>

import getPosition from '@/utils/utils';
import getWeather from '../service';
import drawChart from '../charts/history';

export default {
  name: 'ChartWeather',
  data() {
    return {
      loader: false,
      history: [],
      temp: [],
      days: [],
    };
  },
  created() {
    this.currentPosition();
  },
  methods: {
    async currentPosition() {
      const { latitude, longitude } = await getPosition();
      this.getHistory(latitude, longitude);
    },
    async getHistory(latitude, longitude) {
      const promises = [];
      for (let i = 5; i > 0; i -= 1) {
        promises.push(getWeather(`onecall/timemachine?lat=${latitude}&lon=${longitude}&dt=${Math.ceil((Date.now() - i * 86400000) / 1000)}`));
      }
      this.loader = true;
      this.history = await Promise.all(promises);
      this.history.forEach((element) => {
        this.temp.push(element.current.temp);
        this.days.push(new Date(element.current.dt * 1000).toDateString());
      });
      this.loader = false;
      drawChart(this.$refs.myChart.getContext('2d'), this.temp,
        this.days);
    },
  },
};
</script>

<style>

</style>
