<template>
  <div class="form-group">
    <input type="text" class="form-control"
    placeholder="Entrer une localisation et appuyer sur Entrer"
    @keyup.enter="sendInput()" v-model="location" />
  </div>
</template>

<script>
export default {
  name: 'LocationInput',
  data() {
    return {
      location: '',
    };
  },
  methods: {
    sendInput() {
      this.$emit('location', this.location);
      this.location = '';
    },
  },
};
</script>

<style>

</style>
