<template>
  <div>
            <div class="card p-4">
                <div class="d-flex">
                    <h6 class="flex-grow-1">{{weather.name}}</h6>
                    <h6 class="text-right">{{weather.sunset | date}}</h6>
                </div>
                <div class="d-flex flex-column temp mt-5 mb-3">
                    <h1 class="mb-0 font-weight-bold" id="heading">
                      {{weather.temperature | ceil}}° C
                    </h1>
                    <span class="small grey">{{weather.weather}}</span>
                    <span class="small grey">{{weather.weather_description}}</span>
                </div>
                <div class="d-flex">
                    <div class="temp-details flex-grow-1">
                        <p class="my-1">
                          <i class="wi wi-humidity"></i><span> {{weather.humidity}} </span>
                        </p>
                        <p class="my-1">
                          <i class="wi wi-sunrise"></i><span> {{weather.sunrise | time}} </span>
                        </p>
                        <p class="my-1">
                          <i class="wi wi-sunset"></i><span>{{weather.sunset | time}}</span>
                        </p>
                    </div>
                    <div> <img :src="'http://openweathermap.org/img/wn/' + weather.weather_icon +'.png'"> </div>
                </div>
            </div>
  </div>
</template>

<script>
export default {
  name: 'Weather',
  props: ['weather'],
  filters: {
    time: (timestamp) => {
      const date = new Date(timestamp * 1000);
      return `${date.getHours()}h : ${date.getMinutes()}`;
    },
    date: (timestamp) => new Date(timestamp * 1000).toDateString(),
    ceil: (number) => Math.ceil(number),
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}
</style>
