<template>
  <div id="app">
    <nav class="navbar navbar-light navbar-expand-md bg-info justify-content-center mb-5">
    <div class="navbar-collapse collapse
    justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <router-link to="/" class="nav-link">Temps Actuel</router-link>
            </li>
            <li class="nav-item">
                <router-link to="/forecast" class="nav-link">prévisions </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/history" class="nav-link">History </router-link>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
          <router-view/>
          <div v-if="this.$store.state.loading">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          </div>
    </div>
  </div>
</template>

<style>

</style>
